In [ ]:
a = 10

In [ ]:
a, b = 10,20

In [ ]:
a = b = 30

In [1]:
a = 10,20

In [2]:
a

(10, 20)

In [4]:
type(a)

tuple

In [5]:
print(4,7,8,3)

4 7 8 3

In [6]:
print("hi", 34)
print(5*10)

hi 34
50

In [7]:
print()
# check syntax  * kitne bhi values do vo tuples k format m lake jayega

In [8]:
print(5,7,8, sep='-')

5-7-8

In [9]:
print(5,7,8, end='\t')
print(3,3,54)

5 7 8	3 3 54

In [10]:
k = print('hi')

hi

In [11]:
k

In [12]:
type(k)

NoneType

In [13]:
print(k)

None

In [16]:
m = input("Enter your name : ")

In [17]:
m

'akshay'

In [18]:
type(m)

str

In [19]:
n = input("Enter the number : ")

In [20]:
n

'45'

In [22]:
p = input('Enter a python expression : ')                 # use to evaluate expression it take entered string as python code and evaluates it
print(p)
print(eval(p))

2/5
0.4

In [23]:
# Mutability

In [25]:
s = 'hello, this is a new process'

In [26]:
print(s)

hello, this is a new process

In [27]:
len(s)

28

In [28]:
type(s)

str

In [29]:
s[0]

'h'

In [31]:
s[-1]

's'

In [36]:
# slicing-  [begin: end (exclusive) : step size]
# default    
            #[ : : .... ] step size = +1
            #[ : : .... ] begin 

s[0:5:1]

'hello'

In [48]:
s[0:5]

'hello'

In [50]:
s[:5]

'hello'

In [51]:
s[-10:]

'ew process'

In [49]:
s[0:5:]

'hello'

In [37]:
s[-7:28:1]

'process'

In [40]:
s[-1:-8:-1]

'ssecorp'

In [45]:
s[4:-29:-1]

'olleh'

In [47]:
s[-24:-29:-1]

'olleh'

In [52]:
s[7:14]

'this is'

In [53]:
s

'hello, this is a new process'

In [54]:
s[ : -8: -1]

'ssecorp'

In [55]:
s[4::-1]

'olleh'

In [56]:
s[::-1]

'ssecorp wen a si siht ,olleh'

In [57]:
# ITEM INSERTION

In [60]:
'hi'*10

'hihihihihihihihihihi'

In [61]:
'hi'+ 'bye'

'hibye'

In [62]:
s += ' here'

In [63]:
s

'hello, this is a new process here'

In [64]:
s = s[:5] + ' Ankit' + s[5:]

In [65]:
s

'hello Ankit, this is a new process here'

In [66]:
p = s[:12] + ' sharma' + s[12:]

In [67]:
p

'hello Ankit, sharma this is a new process here'

In [68]:
s[0]

'h'

In [69]:
s[0]= 'k'

TypeError: 'str' object does not support item assignment

In [70]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [71]:
#   WE CANNOT PERFORM ASSIGNMENT AND DELETION AS STRING IS IMMUTABLE

In [79]:
a = [122, '324', [45 ,45,5]]

In [80]:
print(a)
print(len(a))
print(type(a))

[122, '324', [45, 45, 5]]
3
<class 'list'>

In [81]:
a[0]

122

In [82]:
a[0:2]

[122, '324']

In [84]:
a[-2]

'324'

In [85]:
a[-1]

[45, 45, 5]

In [86]:
a[-2:]

['324', [45, 45, 5]]

In [87]:
type(a[-2])

str

In [88]:
a[-2][-1]          # NESTED INDEXING

'4'

In [89]:
a[-1][-2]

45

In [90]:
[4,7,8] * 2          #  interview question

[4, 7, 8, 4, 7, 8]

In [91]:
[4,5,7] + ['hi',34]

[4, 5, 7, 'hi', 34]

In [92]:
a += [10,20]

In [93]:
a

[122, '324', [45, 45, 5], 10, 20]

In [94]:
a += ['hello']

In [95]:
a

[122, '324', [45, 45, 5], 10, 20, 'hello']

In [97]:
a += [3456789]
a

[122, '324', [45, 45, 5], 10, 20, 'hello', 3456789]

In [98]:
# APPEND FUNCTION HAS A LIMITATION THAT IT APPEND ONLY ONE VALUE

In [99]:
a[0] = 'akshay'

In [100]:
a

['akshay', '324', [45, 45, 5], 10, 20, 'hello', 3456789]

In [101]:
del a[0]

In [102]:
a

['324', [45, 45, 5], 10, 20, 'hello', 3456789]

In [103]:
a[0] = None

In [104]:
a

[None, [45, 45, 5], 10, 20, 'hello', 3456789]

In [105]:
a[0] = 3.2
a

[3.2, [45, 45, 5], 10, 20, 'hello', 3456789]

In [106]:
# TUPLE

In [107]:
a = (122, '324', [45 ,45,5], 'hello')

In [108]:
a

(122, '324', [45, 45, 5], 'hello')

In [109]:
a[0]

122

In [110]:
a[1:]

('324', [45, 45, 5], 'hello')

In [111]:
a[0:]

(122, '324', [45, 45, 5], 'hello')

In [114]:
a[-3:]

('324', [45, 45, 5], 'hello')

In [116]:
a

(122, '324', [45, 45, 5], 'hello')

In [117]:
a[2][2]

5

In [126]:
a += (3,3)

In [127]:
a

(122, '324', [45, 45, 5], 'hello', 122, '324', [45, 45, 5], 'hello', 3, 3)

In [121]:
a[0] = (1111,)

TypeError: 'tuple' object does not support item assignment

In [122]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [123]:
(1,2,3) * 2

(1, 2, 3, 1, 2, 3)

In [125]:
(1,3,4) += (2,)

SyntaxError: 'tuple' is an illegal expression for augmented assignment (971681175.py, line 1)

In [128]:
a += (3,3)

In [129]:
a

(122,
 '324',
 [45, 45, 5],
 'hello',
 122,
 '324',
 [45, 45, 5],
 'hello',
 3,
 3,
 3,
 3)

In [130]:
a = [4,5,6,6,'hi']
a

[4, 5, 6, 6, 'hi']

In [131]:
a += {'a1':4, 'b1':5}
a

[4, 5, 6, 6, 'hi', 'a1', 'b1']

In [133]:
a += {7,5,45}
a

[4, 5, 6, 6, 'hi', 'a1', 'b1', 4, 5, 6, 5, 45, 7]

In [134]:
a += (11,22,33)

In [135]:
a

[4, 5, 6, 6, 'hi', 'a1', 'b1', 4, 5, 6, 5, 45, 7, 11, 22, 33]

In [136]:
# DICTIONARY

In [140]:
d = {'a1':4, 'b1':5}
print(d)
print(type(d))
print(len(d))
print(d['a1'])

{'a1': 4, 'b1': 5}
<class 'dict'>
2
4

In [141]:
# data insertion
d['c1'] = [9,3,2,5]
d

{'a1': 4, 'b1': 5, 'c1': [9, 3, 2, 5]}

In [143]:
d['b1'] = 'hiiii'
d

{'a1': 4, 'b1': 'hiiii', 'c1': [9, 3, 2, 5]}

In [144]:
del d['a1']
d

{'b1': 'hiiii', 'c1': [9, 3, 2, 5]}

In [145]:
# SETS

In [146]:
e = {4,6,4,6,3,5,5,3,5,23,6}
e

{3, 4, 5, 6, 23}

In [147]:
e[0]

TypeError: 'set' object is not subscriptable

In [148]:
e[0] = 23

TypeError: 'set' object does not support item assignment

In [149]:
e += {11,12,33}

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

In [150]:
del e[0]

TypeError: 'set' object doesn't support item deletion

In [151]:
# BOOL

In [152]:
7>3

True

In [153]:
bool(5)

True

In [154]:
bool(-9)

True

In [155]:
True : Non ZERO or non-empty data
False : Zero or empty data

SyntaxError: illegal target for annotation (1354262185.py, line 1)

In [156]:
bool(0)

False

In [160]:
print(' ')
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(None))

print(bool([4]))
print(bool([()]))
print(bool(' '))

False
False
False
False
True
True
True