In [34]:
a = 10
b = 10.0
c = 10 + 0j
d = 'hello'
e = [3,6,2]
f = (3,6,2)
g = {'a': [45,6], 'b':[1,6,2]}
h = {5,2,8}
i = True

In [3]:
type(a)

int

In [4]:
a.real   # as a is an object of a integer class so here real is not a function in class we have some functions and some variables so real is a variable here

10

In [5]:
# STRING FUNCTIONS RETURN SOMETHING
print(d.count('l'))     # USE TO COUNT NUMBER OF OCCURENCES
print(d.index('e'))
print(d.find('l'))
print(d.split('l'))
print(d.strip('o'))     # by default it removes trailing and heading spaces or if we provide any value it will remove it from front and last
print(d.replace('l','L'))
print(d,end='\n\n')
print(d.join('wow'))
print(d.upper())
print(d.lower())
print(d.islower())
print(d.isupper())
print(d.isalpha())


# STRING ALL FUNCTIONS RETURN SOMETHING

2
1
2
['he', '', 'o']
hell
heLLo
hello

whelloohellow
HELLO
hello
True
False
True

In [6]:
'     this is strip     '.strip()

'this is strip'

In [7]:
'     this is strip     '.split('i')

['     th', 's ', 's str', 'p     ']

In [8]:
'awesome'.join('bakwas')

'bawesomeaawesomekawesomewawesomeaawesomes'

In [9]:
'-'.join('bakwas')

'b-a-k-w-a-s'

In [10]:
' wow '.join(['hi', 'there', 'to', 'nice'])

'hi wow there wow to wow nice'

In [11]:
# old way
days = 10
"This will last at most %d days"%(days)

'This will last at most 10 days'

In [12]:
days = 10
s = f"This will last at most {days} days"
s

'This will last at most 10 days'

In [13]:
# String types
- Ordinary strings
- F-string
- Raw-string       r'this is \n raw string'
- byte-string      b 'this is a byte string'

SyntaxError: invalid syntax (2144028116.py, line 2)

In [14]:
r'this is raw \n string'

'this is raw \\n string'

In [15]:
# use format function when string declaration is present first and variable declaration is done after that in that case format() is our saviour
s = "this will last at most {} days and extra {}"
days = 10
extra = 5
s = s.format(days, extra)
print(s)

this will last at most 10 days and extra 5

In [16]:
s = "this will last at most {1} days and extra {0}"
days = 10
extra = 5
s = s.format(days, extra)
print(s)

this will last at most 5 days and extra 10

In [17]:
s = "this will last at most {1} days in {1} and extra {0}"
days = 10
extra = 5
s = s.format(days, extra)
print(s)

this will last at most 5 days in 5 and extra 10

In [18]:
#LIST FUNCTIONS      ---> some functions will return some will update some will do both
e.append(50); print(e)
print(e.count(10))
e.extend([4,6,2,3]); print(e)              # IN VALUES KO ALAG ALAG INSERT KREGA
print(e.index(4))
e.insert(2, 100); print(e)
print(e.pop()); print(e)
e.remove(6); print(e)
e.reverse(); print(e)
e.sort(); print(e)

#e.clear()
e1 = e.copy()       # SHALLOW COPY it will do no impact
e2 = e              # DEEP COPY

[3, 6, 2, 50]
0
[3, 6, 2, 50, 4, 6, 2, 3]
4
[3, 6, 100, 2, 50, 4, 6, 2, 3]
3
[3, 6, 100, 2, 50, 4, 6, 2]
[3, 100, 2, 50, 4, 6, 2]
[2, 6, 4, 50, 2, 100, 3]
[2, 2, 3, 4, 6, 50, 100]

In [19]:
# shallow copy vs Deep copy
e1,e2

([2, 2, 3, 4, 6, 50, 100], [2, 2, 3, 4, 6, 50, 100])

In [20]:
e2 is e

True

In [21]:
e2.append(1000)

In [22]:
e,e2

([2, 2, 3, 4, 6, 50, 100, 1000], [2, 2, 3, 4, 6, 50, 100, 1000])

In [23]:
e1.append(2000)

In [24]:
e,e1

([2, 2, 3, 4, 6, 50, 100, 1000], [2, 2, 3, 4, 6, 50, 100, 2000])

In [25]:
# TUPLE FUNCTIONS
print(f)
print(f.index(3))
print(f.count(3))

(3, 6, 2)
0
1

In [26]:
# DICTIONARY FUNCTIONS
print(g)
print(g.keys())
print(g.values())
print(g.get('a'))
print(g.pop('b')); print(g)

{'a': [45, 6], 'b': [1, 6, 2]}
dict_keys(['a', 'b'])
dict_values([[45, 6], [1, 6, 2]])
[45, 6]
[1, 6, 2]
{'a': [45, 6]}

In [27]:
g.update({'c':34})
print(g)

{'a': [45, 6], 'c': 34}

In [37]:
# SET FUNCTION
print(h)                   # we can perform some operations with the help of functions
h.add(50); print(h)
print(h.difference({2,10}))
print(h.intersection({2,10}))
h.pop(); print(h)       # FIFO
h.remove(50); print(h)
print(h.union({10,20,30,40}))

{2, 50, 5}
{2, 50, 5}
{50, 5}
{2}
{50, 5}
{5}
{20, 5, 40, 10, 30}

In [38]:
str(a)

'10'

In [39]:
int('3000')

3000

In [42]:
#int('30.4')
int(float('30.4'))

30

In [43]:
eval('45') # it evaluate string to python code

45

In [44]:
d

'hello'

In [45]:
list(d)

['h', 'e', 'l', 'l', 'o']

In [46]:
tuple(d)

('h', 'e', 'l', 'l', 'o')

In [48]:
str(['a', 'g', 2,3])

"['a', 'g', 2, 3]"

In [52]:
dict(b=e)

{'b': [3, 6, 2]}

In [53]:
set(e)

{2, 3, 6}

In [54]:
list(set(e))

[2, 3, 6]

In [55]:
e1,e2

([2, 2, 3, 4, 6, 50, 100, 2000], [2, 2, 3, 4, 6, 50, 100, 1000])

In [56]:
[e1,e2]

[[2, 2, 3, 4, 6, 50, 100, 2000], [2, 2, 3, 4, 6, 50, 100, 1000]]

In [57]:
[*e1, *e2]       # iske andar jo items h unko mein entities manunga or then iterate krunga

# *e1 apne aap ko as a tuple smj k kam krta hai

[2, 2, 3, 4, 6, 50, 100, 2000, 2, 2, 3, 4, 6, 50, 100, 1000]

In [58]:
g1 = {'a':4, 'b': [5,6]}
g2 = {'c': 34, 'a': 'h1'}

In [59]:
g1 += g2

TypeError: unsupported operand type(s) for +=: 'dict' and 'dict'

In [60]:
g1.update(g2)         # there is a nuksan value of g is updated but not concatenated
g1

{'a': 'h1', 'b': [5, 6], 'c': 34}

In [61]:
{**g1, **g2}              # here none of the dictionary is get updated ** behaves as a tuple

{'a': 'h1', 'b': [5, 6], 'c': 34}

In [64]:
g3 = {1:11, 2:22}
{**g1, **g2, **g3}

{'a': 'h1', 'b': [5, 6], 'c': 34, 1: 11, 2: 22}

In [ ]:
# CONTROL STATEMENTS
####################
if-elif-else  (pass)       # conditional statement

while-else    (continue, break)       # Looping statement
for-else             

try-except-else-finally     # handling statement


#   Suites it is a concept of indentation with colon
statement:
    expr1
    expr2
statement2:
    expr3
    expr4
    statement3:
        expr5
    expr6
expr7

In [65]:
a = 30; b = 40; c=29;
if a>=b and a>=c:
    print(a)
elif b>=c and b>=a:
    print(b)
else:
    print(c)

40

In [4]:
a = 30
while(a>0):
    print('hello')
    a -= 7
    if a==16:
       continue
       #break
    print('achha')
else:
    print('oh')

hello
achha
hello
hello
achha
hello
achha
hello
achha
oh

In [2]:
# for (int i=0;i<n;i++)
# {
#     do so
# }
arr = [3,4,5,6]
# foreach(var v in arr){
#     v

for i in arr:
    print(i, i*10) 


# FOR LOOP IS FOR SOMETHING WHEN WE NOW NUMBER OF ITERATIONS WHILE LOOP IS FOR WHERE WE KNOW CONDITION

3 30
4 40
5 50
6 60

In [5]:
table = [1,2,3,4,5,6,7,8,9,10]
num = 2
for i in table:
    print(i * num)

2
4
6
8
10
12
14
16
18
20

In [6]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for i in range(1,11,1):
    print(num*i)

2
4
6
8
10
12
14
16
18
20

In [9]:
for i in range(1,6):
    print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [10]:
# Comprehensions             used at places where i need some values to pass as an argument without storing them into memory,     it is not easily readable
# -------------------
# conditional (not really a comprehension though)
# list
# dict
# set
# Generator


# USE WHEN I NEED TO CREATE LIST BY MAKING USE OF LOOPS

In [11]:
a = [3,4,5,6,4,3,5,6,7,3,3,2,5]

In [13]:
b = []
for i in a:
    #b.append(i*2)
    b += [i*2]
print(b)

[6, 8, 10, 12, 8, 6, 10, 12, 14, 6, 6, 4, 10]

In [15]:
# [ output  for-loop  if-condition] 
#[ output  for-loop ]
b1 = [i*2 for i in a ]
b1

[6, 8, 10, 12, 8, 6, 10, 12, 14, 6, 6, 4, 10]

In [17]:
b2 = [i for i in a if i%2==1]
b2

[3, 5, 3, 5, 7, 3, 3, 5]

In [18]:
b2 = [
        i
        for i in a
        if i%2 == 1
]
b2

[3, 5, 3, 5, 7, 3, 3, 5]

In [22]:
# CONDITIONAL COMPREHENSION
num = 33
print('odd') if num%2 else print('Even')

Even

In [23]:
b3 = [ f'{i} odd' if i%2 else f'{i} even' for i in a]
b3

['3 odd',
 '4 even',
 '5 odd',
 '6 even',
 '4 even',
 '3 odd',
 '5 odd',
 '6 even',
 '7 odd',
 '3 odd',
 '3 odd',
 '2 even',
 '5 odd']

In [24]:
{i : i**2 for i in a}

{3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 2: 4}

In [25]:
{i**2 for i in a}

{4, 9, 16, 25, 36, 49}

In [ ]:
(i )